@model LoginDTO

<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="card">
        <div class="card-header">
            <h4 class="card-header">Sing In</h4>
        </div>
        <div class="card-body">
            <form asp-action="Login">
                 <div class="form-group">
                        <label asp-for="UserName" class="form-control"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName"  class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="Password" class="form-control"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password"  class="text-danger"></span>
                    </div>
                     <div class="form-group">
                     
                        <input type="submit" class="btn btn-success float-right" value="Sing In" />
                     </div>
            </form>
        </div>
          <div class="card-footer">
                <a asp-action="Register" class="btn btn-block btn-dark">Register</a>
          </div>
    </div>
</div>